$color-primary-0: #2a94d6; // Main Primary color */
$color-primary-1: #344a5f;
$color-primary-2: #dbe6ec;
$color-primary-3: #f0f1f2;
$color-primary-4: #ffffff;
$color-primary-1-rgba: rgba(42, 148, 214, 1);
$color-primary-2-rgba: rgba(51, 73, 94, 1);
$color-primary-3-rgba: rgba(219, 230, 236, 1);
$color-primary-4-rgba: rgba(239, 240, 241, 1);
$color-primary-5-rgba: rgba(255, 255, 255, 1);

body {
  font-family: Microsoft JhengHei;
}

/* Big Tablet to 1200px (width smaller than 1140px row */
@media only screen and (max-width: 1200px) {}

/* Small Tablet to Big Tablet from 768 to 1023px */
@media only screen and (max-width: 1023px) {}

/* Small Phones to small Tablet 481-767px(Ipad) */
@media only screen and (max-width: 767px) {}

/* Small Phones 0 to 480px(Iphone) */
@media only screen and (max-width: 480px) {}
